{% extends "admin/base.html.twig" %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block main %}
    <div class="container">
      {% include 'admin/_partials/nav2.html.twig' %}
      <h2 class="text-center">Gestion des commentaires</h2>
      <div class="divide20"></div>
        {{ message.display }}
        <div class="post box">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Contenu</th>
              </tr>
            </thead>
            <tbody>
              {% for comment in comments %}
              <tr>
                <th scope="row">{{ comment.id }}</th>
                <td>{{ comment.content|raw }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="divide100"></div>
{% endblock %}

{% block js %}
{% endblock %}
