<form method="post" action="?c=adminCategory&t=deleteCategory&id={{ category.id }}" class="delete-form">
  <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmer la suppression ?');">
    <i class="fa fa-trash-o"></i>
  </button>
</form>
