# On suit les liens symboliques
Options +FollowSymlinks -MultiViews


<IfModule mod_rewrite.c>
# Activation du mod rewrite d'Apache
RewriteEngine On
RewriteBase /

# Options -Indexes

# ErrorDocument 404 /views/404.html



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécriture de index.html vers index.php
RewriteRule ^index\.html$ index.php [L]
# Réécriture de l'URL principale
RewriteRule ^index.php/accueil$ index.php [QSA,L]
# Réécriture de l'URL du blog
RewriteRule ^blog$ index.php?c=blog [QSA,L]
# Réécriture de l'URL de la partie admin
RewriteRule ^admin$ index.php?c=adminDashboard&page=1 [QSA,L]

RewriteRule ^blog/(.*)/(.*)$ index.php?c=blog&v=$1&page=$2 [NC,L]

</IfModule>

