<div class="container inner">
    <div class="blog list-view row">
        <div class="col-md-8 col-sm-12 content">
            <div class="blog-posts">
                <div class="post box">
                    <p class="text-center" style="font-weight: bold;">La page demandée n'existe pas.</p>
                </div>
            </div>
        </div>
        <!-- /.content -->
        {{ include('front/blog/_partials/aside.html.twig')}}
        <!-- /column .sidebar -->
    </div>
    <div class="divide100"></div>
