<section id="about">
    <div class="box">
        <h2 class="section-title">Qui suis-je ?</h2>
        <div class="row">
            <div class="col-md-3 col-md-push-9 col-sm-4 col-sm-push-4 col-xs-4 col-xs-push-4">
                <figure><img src="{{ description[0].url }}" alt="" /></figure>
            </div>
            <!-- /column -->
            <div class="col-md-9 col-md-pull-3 col-sm-12 col-xs-12">
                {{ description[0].content|raw }}
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="clearfix"></div>
        <div class="divide40"></div>
        <h2 class="section-title">&nbsp;</h2>
        <div class="divide10"></div>
        <!--<div class="services-1">-->
        <!-- /.services -->
    </div>
    <!-- /.box -->
</section>
