<section id="contact">
    <div class="box">
        <h2 class="section-title">Me contacter</h2>
        <p></p>
        <!--<div class="divide20"></div>
        <div class="row text-center services-2">
            <div class="col-md-3 col-sm-12"> <i class="budicon-map"></i>
                <p>17 Place Saint-Pierre
                    <br /> 75018 PARIS</p>
            </div>
            <div class="col-md-3 col-sm-12"> <i class="budicon-telephone"></i>
                <p>01 42 76 03 81</p>
            </div>
            <div class="col-md-3 col-sm-12"> <i class="budicon-mobile"></i>
                <p>06 47 51 22 85</p>
            </div>
            <div class="col-md-3 col-sm-12"> <i class="budicon-mail"></i>
                <p> <a class="nocolor" href="mailto:#">contact@philippetraon.com</a> </p>
            </div>
        </div>-->
        <!-- /.services-2 -->
        <div class="divide30"></div>
        <div class="form-container">
            <div class="response alert alert-success"></div>
            {% include('front/_forms/contact.html.twig') %}
        </div>
        <!-- /.form-container -->
    </div>
    <!-- /.box -->
</section>
