<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Philippe Traon | Développeur web" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="article" />
    <!-- <meta prefix="og: http://ogp.me/ns#" property="og:mini" content="true" /> -->
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://philippetraon.com/?42" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://philippetraon.com/style/images/ogimage.png" />
    <meta property="og:image:width" content="180" />
    <title>Philippe Traon - Développeur web</title>
    <link rel="shortcut icon" href="#">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700,600,500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <link href="../assets/css/fontello.css" rel="stylesheet">
    <link href="../assets/css/budicons.css" rel="stylesheet">
    <link href="../assets/css/plugins.css" rel="stylesheet">
    <link href="../assets/css/prettify.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/green.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/nest.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="style/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

</head>
<body class="full-layout">
    <div class="body-wrapper">
    <nav class="navbar navbar-default">
    <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="current"><a href="index.php">Accueil</a></li>
            <li><a href="index.php#portfolio">Portfolio</a></li>
            <li><a href="index.php#about">A propos</a></li>
            <li><a href="index.php#skills">Compétences</a></li>
            <li><a href="index.php#contact">Contact</a></li>
            <li><a href="index.php?c=blog&v=view1&page=1">Blog</a></li>
        </ul>
    </div>
    </nav>
        <div class="container">
            <div class="container inner">
              <div class="container inner">
                <div class="blog list-view row">
                  <div class="col-md-12 col-sm-12 content">
                      <div class="blog-posts">
                          <div class="post box">
                              <p class="text-center" style="font-weight: bold;">La page demandée n'existe pas.</p>
                          </div>
                      </div>
                  </div>
                </div>
              <div class="divide100"></div>
              </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.themepunch.tools.min.js"></script>
    <script src="../assets/js/classie.js"></script>
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/scripts.js"></script>

    <script>
    $.backstretch(["../assets/img/react2.png"]);
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-101090553-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>
</html>
