<section style="margin-bottom: 50px;">
  <div class="box">
    {{ message.display }}
    <p></p>
    <div class="divide30"></div>
    <ul class="nav nav-tabs menuadmin">
      <li class="nav-item">
        <a class="nav-link active" href="index.php?c=adminDashboard">Gestion articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=comments">Gestion commentaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=users">Gestion membres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=categories">Gestion catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.php?c=adminDashboard&t=tags">Gestion tags</a>
      </li>
    </ul>
  </div>
</section>
