
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content about-modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modification de la description</h4>
                  </div>
                  <div class="modal-body">
                    <form action="?c=admin&t=updateAbout" method="post">
                        <div>
                            <label for="title">Nom</label><br />
                            <input type="text" name="title" id="title" value="{{ description.title }}">
                        </div>
                        <div>
                            <label>Description</label><br />
                            <textarea name="content" class="textarea">{{ description.content|raw }}</textarea>
                        </div>
                        <div class="divide40"></div>
                        <div>
                            <input class="btn btn-default btn-modal" type="submit"/>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  </div>
                </div>

              </div>
            </div>
