<div class="sidebox box widget">
    <h3 class="widget-title section-title">Categories</h3>
    <ul class="circled">
        <!-- boucle catégories -->
        <li><a href="#">Nom de la catégorie (21)</a></li>
        <!-- fin de la boucle -->
    </ul>
</div>
