<div class="sidebox box widget">
    <form class="searchform" method="get">
        <input type="text" id="s2" name="s" value="type and hit enter" onfocus="this.value=''" onblur="this.value='type and hit enter'" />
    </form>
</div>
