<div class="sidebox box widget">
    <h3 class="widget-title section-title">Tags</h3>
    <ul class="tag-list">
        <!-- boucle tags -->
        <li><a href="#" class="btn">Nom du tag</a></li>
        <!-- fin boucle tags -->
    </ul>
    <!-- /.tag-list -->
</div>
<!-- /.widget -->
