<form class="searchform" method="get" action="?c=search">
        <input type="hidden" name="c" value="search">
        <input type="text" id="search" name="q" placeholder="Rechercher" onfocus="this.value=''" onblur="this.placeholder='Rechercher'" />

    </form>
